<!DOCTYPE html>
<html lang="en">

  <%- include('./Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('./Navs/navbar') %>
    <header>
      <div class="view view-home intro-2">
          <div class="full-bg-img">
              <div class="mask rgba-black-strong flex-center">
                  <div class="container text-center white-text">
                      <div class="white-text text-center wow fadeInUp">
                          <h2 class="h1-responsive font-weight-bold mt-5 samdos-name">BOOKBITE STORE</h2>
                          <h5 class="help p-3 rgba-black-light h6">BUY AND READ BOOKS ANYWHERE IN NIGERIA</h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="container">

      <div class="row">
          <div class="col-lg-12 mb-2 col-md-10 col-sm-12 mt-5 ">
             <h1 class="font-weight-bold green-text text-center text-uppercase h1-responsive">BEST SELLING BOOKS</h1><br>
           </div>

           <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                     <div class="card">
                       <div class="view overlay">
                         <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                         <a>
                           <div class="mask rgba-white-strong"></div>
                         </a>
                       </div>
                       <div class="card-body white black-text rounded-bottom">
                         <h6 class="card-title text-uppercase font-weight-bold text-center h6" id="level-of-leadership" >5 LEVEL OF LEADERSHIP</h6>
                         <p class="text-center">By John Maxwell</p>

                                     <table class="table">
                                         <tr>
                                           <td class="p-2 m-0"><h5 class="text-center p-0 m-0 h5"><strike>&#8358;2,999.99</strike></h5></td>
                                         </tr>
                                         <tr>
                                            <td class="p-2 m-0"><h5 class="text-center p-0 m-0 h5" id="new-prize">&#8358;2,599.99</h5></td>
                                         </tr>
                                     </table>

                         <div class="red">
                           <!-- <a href=""> -->
                                <button class="btn btn-block" id="pay-button" style="background:red; color:white;" ><span class="h6" id="buy-now">BUY NOW</span></button>
                           <!-- </a> -->
                         </div>

                       </div>
                     </div>
              </div>

               <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                     <div class="card">
                       <div class="view overlay">
                         <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                         <a>
                           <div class="mask rgba-white-strong"></div>
                         </a>
                       </div>
                       <div class="card-body white black-text rounded-bottom">
                         <h6 class="card-title text-uppercase font-weight-bold text-center h6" id="level-of-leadership" >5 LEVEL OF LEADERSHIP</h6>
                         <p class="text-center">By John Maxwell</p>

                                     <table class="table">
                                         <tr>
                                           <td class="p-2 m-0"><h5 class="text-center p-0 m-0 h5"><strike>&#8358;2,999.99</strike></h5></td>
                                         </tr>
                                         <tr>
                                            <td class="p-2 m-0"><h5 class="text-center p-0 m-0 h5" id="new-prize">&#8358;2,599.99</h5></td>
                                         </tr>
                                     </table>

                         <div class="red">
                           <!-- <a href=""> -->
                                <button class="btn btn-block" id="pay-button" style="background:red; color:white;" ><span class="h6" id="buy-now">BUY NOW</span></button>
                           <!-- </a> -->
                         </div>

                       </div>
                     </div>
              </div>

               <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                     <div class="card">
                       <div class="view overlay">
                         <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                         <a>
                           <div class="mask rgba-white-strong"></div>
                         </a>
                       </div>
                       <div class="card-body white black-text rounded-bottom">
                         <h6 class="card-title text-uppercase font-weight-bold text-center h6" id="level-of-leadership" >5 LEVEL OF LEADERSHIP</h6>
                         <p class="text-center">By John Maxwell</p>

                                     <table class="table">
                                         <tr>
                                           <td class="p-2 m-0"><h5 class="text-center p-0 m-0 h5"><strike>&#8358;2,999.99</strike></h5></td>
                                         </tr>
                                         <tr>
                                            <td class="p-2 m-0"><h5 class="text-center p-0 m-0 h5" id="new-prize">&#8358;2,599.99</h5></td>
                                         </tr>
                                     </table>

                         <div class="red">
                           <!-- <a href=""> -->
                                <button class="btn btn-block" id="pay-button" style="background:red; color:white;" ><span class="h6" id="buy-now">BUY NOW</span></button>
                           <!-- </a> -->
                         </div>

                       </div>
                     </div>
              </div>

               <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                     <div class="card">
                       <div class="view overlay">
                         <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/image/pexels-photo-129743.jpeg" alt="Card image cap">
                         <a>
                           <div class="mask rgba-white-strong"></div>
                         </a>
                       </div>
                       <div class="card-body white black-text rounded-bottom">
                         <h6 class="card-title text-uppercase font-weight-bold text-center h6" id="level-of-leadership" >5 LEVEL OF LEADERSHIP</h6>
                         <p class="text-center">By John Maxwell</p>

                                     <table class="table">
                                         <tr>
                                           <td class="p-2 m-0"><h5 class="text-center p-0 m-0 h5"><strike>&#8358;2,999.99</strike></h5></td>
                                         </tr>
                                         <tr>
                                            <td class="p-2 m-0"><h5 class="text-center p-0 m-0 h5" id="new-prize">&#8358;2,599.99</h5></td>
                                         </tr>
                                     </table>

                         <div class="red">
                           <!-- <a href=""> -->
                                <button class="btn btn-block" id="pay-button" style="background:red; color:white;" ><span class="h6" id="buy-now">BUY NOW</span></button>
                           <!-- </a> -->
                         </div>

                       </div>
                     </div>
              </div>
      </div>




    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <h1 class="text-center">YOUR CART</h1>
                <button type="button" class="close" style="font-size: 40px;" data-dismiss="modal" aria-hidden="true"> &times; </button>
             </div>



             <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                       <!-- <caption>Responsive Table Layout</caption> -->
                       <thead>
                          <tr>
                             <th style="font-size: 18px;">S/N</th>
                             <th style="font-size: 18px;">BOOKS</th>
                             <th style="font-size: 18px;">PRICE</th>
                             <th style="font-size: 18px;">QUANTITY</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr>
                             <td class="h5" id="serialNumber"></td>
                             <td class="h5" id="book-name"></td>
                             <td class="h5" id="book-prize"></td>
                             <td>
                                <select class="form-control" id="book-qty" style="visibility:hidden">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                 </select>
                             </td>
                          </tr>

                       </tbody>
                    </table>
                 </div>
             </div>



             <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary btn-lg">
                   Pay now
                </button>
             </div>
          </div>
        </div>
    </div>


   <div>
     <div class="container align-item-center justify-content-center mx-auto d-flex">
      <ul class="pagination pagination-lg">
        <li><a href="#" class="red-text">&laquo;</a></li>
        <li><a href="#" class="red-text">1</a></li>
        <li><a href="#" class="red-text">&raquo;</a></li>
      </ul>
     </div>
   </div>
  </div>

  <footer>
      <section style="background:rgb(39, 72, 39);">
          <div style="height:70px;"></div>
          <div class="row mx-0">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-4 mx-auto mb-5">
                        <h1 class="h4-responsive font-weight-bold white-text">Quick Link</h1> <hr>
                        <div>
                           <a href="#!"> <p class="white-text py-1 my-1">Book Catalogue</p></a>
                           <a href="#!"> <p class="white-text py-1 my-1">e-Books</p></a>
                           <a href="#!"> <p class="white-text py-1 my-1">Our Store</p></a>
                           <a href="#!"> <p class="white-text py-1 my-1">About Us</p></a>
                           <a href="#!"> <p class="white-text py-1 my-1">Contact Us</p></a>
                        </div>
                      </div>

                  <div class="col-md-4 mx-auto mb-5">
                    <h1 class="h4-responsive font-weight-bold white-text">Our Location</h1> <hr>
                    <div>
                        <p class="white-text py-1 my-1">Lagos State University, Ojo</p>
                        <p class="white-text py-1 my-1">Lasu-Iba road,Lagos, Nigeria.</p>
                        <p class="white-text py-1 my-1"><strong>Call:</strong>+234-813-232-323-232</p>
                        <p class="white-text py-1 my-1"><strong>Email: </strong>info@bookbite.com</p>
                    </div>
                  </div>

                  <div class="col-md-4 mx-auto">
                      <h1 class="h4-responsive font-weight-bold white-text">Social Media</h1> <hr>
                      <a href="#!"><i class="fa fa-facebook fa-2x mx-2 white-text" ></i></a>
                      <a href="#!"><i class="fa fa-twitter fa-2x mx-2 white-text" ></i></a>
                      <a href="#!"><i class="fa fa-instagram fa-2x mx-2 white-text" ></i></a>
                      <a href="#!"><i class="fa fa-whatsapp fa-2x mx-2 white-text" ></i></a>
                      <a href="#!"><i class="fa fa-youtube fa-2x mx-2  white-text" ></i></a>
                    </div>

                </div>
            </div>
          </div>
          <div style="height:50px;"></div>
        </section>

      <section>
          <div class="row mx-0">
              <div class="col-md-12" style="background:rgb(8, 27, 8);">
                <div class="my-3">
                      <p style="font-size:15px; color: white;" class="font-weight-bold text-center">&copy Copyright <span id="year">2020</span>, <i class="fa fa-heart red-text"></i> with Samdos</p>
                </div>
              </div>
          </div>
      </section>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="stylesheets/js/javascript.js"></script>
    <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
    <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
      </body>
  </html>


